#particles-js {
  height: 100vh !important;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, #1e2021, #111111);
}

.con {
  position: absolute;
  height: 70vh;
  width: 65%;
  top: 50%;
  left: 58%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
}

canvas {
  overflow-x: hidden;
}

.profile {
  width: 40%;
  height: 100%;
  background-color: #31313a;
  z-index: 5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.bio {
  width: 58%;
  height: 95%;
  background-color: #31313a;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile .picture {
  height: 50%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 48% 100%, 0 90%);
  background-image: url("../images/bear-2.png"),
    linear-gradient(to top, #0f2027, #203a43, #2c5364);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.profile .self-info {
  color: white;
  text-align: center;
  margin-top: 20px;
}

.profile .button-group {
  margin-top: auto;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
}

.profile .button-group a {
  padding: 20px 0;
  display: inline-block;
  width: 50%;
  text-align: center;
  color: white;
}

.profile .button-group a:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}

.bio {
  color: white;
}

.bio h3 {
  padding: 15px 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.bio p {
  padding: 15px 25px;
}

.loc {
  display: flex;
  flex-wrap: wrap;
}

.loc p {
  padding: 0 20px;
}
