@media only screen and (max-width: 1000px) {
  .main-section {
    flex-direction: column;
  }

  .vid {
    width: 100%;
    height: 30vh;
  }

  .vid video {
    height: 100%;
  }

  .content {
    margin-top: 100px;
  }
}
