@media only screen and (max-width: 400px) {
  .main-section .content {
    background: none;
    text-align: center;
    margin: 0;
    margin-top: 150px;
  }

  .content h1 {
    line-height: 50px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }

  .youtube,
  .github,
  .cv {
    width: 70%;
    margin: 0;
    margin: 10px auto;
  }

  .work-section h1 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .card-group .card {
    margin: 30px 0 !important;
  }

  .text-left-cus {
    padding-left: 50px;
  }
  .con {
    width: 100%;
  }

  .slice {
    flex-direction: column !important;
    clip-path: none;
    height: 30vh;
  }

  .head {
    clip-path: none;
    width: 100%;
  }

  .ava {
    width: 100%;
  }
  .text-content {
    width: 100%;
    padding: 20px 10px;
  }
}
