@media only screen and (max-width: 600px) {
  .side-bar {
    display: none;
  }

  .work-section h1 {
    font-size: 1.5rem;
  }
  .card-group .card {
    margin: 30px 60px !important;
  }

  .slice .text-content h3 {
    font-size: 1.2rem;
  }

  .slice .text-content p {
    font-size: 0.8rem;
  }

  .navbar {
    display: flex !important;
  }

  .con {
    opacity: 0.5;
    width: 90%;
  }

  .head {
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  }

  .clip-left {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  }
}
